name: Continuous Deployment

on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    
    - name: Prepare SSH key
      run: |
        echo "${{ secrets.SSH_KEY }}" > /tmp/id_rsa
        chmod 400 /tmp/id_rsa

    - name: SSH and deploy app
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: /tmp/id_rsa
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd ~/auth-api
          git pull origin main
          npm install
          npm run migrate up
          pm2 restart auth-api
